streamlit==1.32.2
streamlit-chat==0.1.1
langchain==0.2.6
langchain-cli==0.0.21
langchain-cohere==0.1.3
langchain-community==0.2.6
langchain-experimental==0.0.62
langchain-groq==0.1.2
langchain-openai==0.0.8
langchain-text-splitters==0.2.2
langchainhub==0.1.15
langchain-core==0.2.11
langchain-huggingface==0.0.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
matplotlib-venn==0.11.10
geopandas==1.0.1
pandas==2.2.1
python-dotenv==1.0.1
numpy==1.26.4